.hide{
  display:none;
}

body{
  background-image:url("../background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  text-align: center;

}
nav {
  margin-bottom: 0;
}
#triangle-tracker{
  padding-top:30%;
  text-align:left;
  color:black;
  font-size: x-large;
  font-family: fantasy;
  font-weight: bold;

}
li{
  list-style-type:roman;
}
.column {
  width: 40%;
  float: left;
  margin-top: 5%;
}

.line {
  font-weight: bolder;
  font-style: oblique;
  color:red;
}
.size {
  font-weight: 600;
}
.contacts{
  padding-top: 40%;
}
