.hide{
  display:none;
}

body{
  background-image:url("../pexel-photo-1166648.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  text-align: center;
  background-attachment: scroll;
  )
}

nav {
  margin-bottom: 0;
}

li{
  list-style-type:roman;
}

.line {
  font-weight: bolder;
  font-style: oblique;

}

.size {
  font-weight: bold;
  font-family: fantasy;
}

.direct{
  font-style: italic;
  font-weight: 300;
  font-size:large;
  font
}
.styles{
  font-weight: 300;
  font-size: large;
  font-style: italic;
}
nav>li{
  list-style-type: none;
}
.triangle{
  background-color: red;
}
.images{
  float:right;
}
.pics{
  float:left;
}
